body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background: rgb(253,248,241);
}

/************
HEADER STYLES
************/

header {
  background-color: rgb(18,203,172);
  color: rgb(253,248,241);
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 25px;
}

h1 {
  font-family: 'The Girl Next Door', cursive;
  font-size: 3.5em;
  margin: 0;
}

.date {
  margin: 0;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 15px;
}

img {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
}

#quote p {
  font-size: 1.15em;
  line-height: 1.75;
  margin-top: 5px;
}

span {
  font-weight: bold;
}

h2,
h3 {
  margin: 10px 0;
  font-family: 'The Girl Next Door', cursive;
}

footer {
  padding: 2% 1%;
  background-color: rgb(18,203,172);
  color: rgb(253,248,241);
  text-align: center;

}
